@font-face{
  font-family: Signika-Regular;
  src: url(../fonts/Signika/Signika-Regular.ttf);
}

@font-face{
  font-family: Signika-Light;
  src: url(../fonts/Signika/Signika-Light.ttf);
}

@font-face{
  font-family: Signika-Bold;
  src: url(../fonts/Signika/Signika-Semibold.ttf);
}

@font-face{
  font-family: HelveticaNeue;
  src: url(../fonts/HelveticaNeue/HelveticaNeue.ttf);
}

@font-face{
  font-family: HelveticaNeue-Thin;
  src: url(../fonts/HelveticaNeue/HelveticaNeueThin.ttf);
}

@font-face{
  font-family: HelveticaNeue-Light;
  src: url(../fonts/HelveticaNeue/HelveticaNeueLight.ttf);
}

@font-face{
  font-family: HelveticaNeue-Medium;
  src: url(../fonts/HelveticaNeue/HelveticaNeueMedium.ttf);
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.slide1{
  background:#087BBB;
  height:780px;
  padding-top:20px;
  position:relative;
}

.slide1 .big-ass-text{
   margin-top:100px;
}

ul.navigation{
  /*background:#4FA3BA;*/
  list-style:none;
  margin-top:5px;
}

ul.navigation li{
  display:inline-block;
  font-family:Arial;
  font-size:10pt;
  text-transform: uppercase;
}

ul.navigation li a{
  color:#fff;
  padding:4px 15px;
}

ul.navigation li.active a, ul.navigation li a:hover{
  color:#ebebeb;
  background:rgba(255,255,255,.3);
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

h1{
  font-family: Signika-Light;
  font-size: 102px;
  color: #FFFFFF;
  line-height: 127px;
}

h1 .bold{
  font-family: Signika-Bold;
}

h2{
  font-family: Signika-Light;
  color:#fff;
  font-size:33px;
  line-height:57px;
}

.slide1 p.venue{
  font-family: Signika-Light;
  font-size: 27px;
  color: #FFFFFF;
  line-height: 33px;
  opacity: .33;
}

.centered{
  text-align:center;
}


a.enroll-today-white{
/*border-radius: 8px;*/
background:rgb(221, 29, 21);
/*border: 1px solid #FFFFFF;*/

font-family: Signika-Light;
font-size: 25px;
color: #FFFFFF;
line-height: 32px;
padding:10px 30px;
/*text-transform: uppercase;*/
}

a.enroll-today-white:hover{
  background:rgba(255,255,255,.3);
  -webkit-transition: background 1s linear;
  -moz-transition:background 1s linear;
  -o-transition:background 1s linear;
  transition:background 1s linear;
}

.enroll-button1{
  position:relative;
  top:100px;
}

.arrow-white{
  position:absolute;
  bottom:20px;
  width:100%;
  text-align: center;
  /*left:48.5%;*/
  /*width:45px;*/
  /*height:28px;*/
}

.slide2{
  padding: 80px 0 80px 0;
  background: #006A8E;
}

h3{
font-family: HelveticaNeue-Thin;
font-size: 39px;
color: #FFFFFF;
line-height: 100px;
font-weight:bold;
}

h4{
font-family: HelveticaNeue-Thin;
font-size: 31px;
color: #FFFFFF;
line-height: 38px;
font-weight:bold;
}

.slide3{
  border-bottom:1px solid #DADADA;
  padding: 30px 0 80px 0;
}

.dark{
  color:#000;
}

.sweetwords{
  margin-top:30px;
  min-height: 180px;
}

.sweetwords .avatar{
  width:50px;
  height:50px;
  border:0px solid #979797;
  background:#ebebeb;
  border-radius:50px;
  overflow:hidden;
  float:left;
  margin-bottom:30px;
}

.sweetwords .details{
  float:left;
  width:80%;
  margin-left:20px;
}

.sweetwords .details .name{
/*font-family: HelveticaNeue-Medium;*/
font-size: 19px;
color: #000000;
line-height: 26px;
}

.sweetwords .details .designation{
/*font-family: HelveticaNeue-Medium;*/
font-size: 12px;
color: #ACACAC;
line-height: 15px;
}

.sweetwords .details p{
/*font-family: Helvetica;*/
font-size: 14px;
color: #000000;
line-height: 19px;
opacity: .64;
margin: 10px 0px 30px 0px;
}

.sponsor-logos a{
  display:inline-block;
  margin:0px 10px 30px 10px;
}


.slide21{
  padding: 80px 0 80px 0;
  background: #F5A623;
}

.slide4{
  padding-top:80px;
  padding-bottom:80px;
}

.slide5{
  padding:30px 0px 80px 0;
  background:#351E49;
}

.slide5 p{
/*font-family: HelveticaNeue-Light;*/
font-size: 14px;
color: #FFFFFF;
line-height: 17px;
margin:0px;
padding:0px;
}

.price{
  margin:30px 0;
}

.slide6{
  background:#E6002F;
  padding:50px 0px 80px 0;
  min-height:550px;
}

.ops-profile{
  text-align: center;
  margin-top:30px;
}

.ops-profile .avatar{
  width:100px;
  height:100px;
  background-size: cover;
  background:#fff;
  border-radius:128px;
  border:0px solid #979797;
  margin:0px auto;
}

.ops-profile .name{
/*font-family: HelveticaNeue-Light;*/
font-size: 21px;
color: #FFFFFF;
line-height: 25px;
margin:2px 0px;
}

.ops-profile .designation{
/*font-family: HelveticaNeue-Medium;*/
font-size: 13px;
color: #FFFFFF;
line-height: 16px;
}

.ops-profile .twitter{
font-family: HelveticaNeue;
font-size: 13px;
color: #FFFFFF;
line-height: 16px;
margin:10px 0;
-webkit-transition: opacity .1s;
-moz-transition:opacity .1s;
-o-transition:opacity .1s;
transition:opacity .1s;
}

.ops-profile .twitter a{
  color:#fff;
}

.ops-profile .twitter:hover{
  font-weight: bold;
  -webkit-transition: opacity .1s;
  -moz-transition:opacity .1s;
  -o-transition:opacity .1s;
  transition:opacity .1s;
}

.slide7{
  background:#2F2F2F;
  /*padding:220px 0px;*/
  box-sizing:border-box;
  /*-moz-box-sizing:border-box;*/
}

.black {
  color: black;
}

.footerlogo {
  margin-top:100px;
  text-align: center;
  padding-top:50px;
  padding-bottom:100px;
}

.footerlogo img {
  margin-bottom: 50px;
}

.social-links a{
  margin: 0 5px;
}

.social-links a:hover img{
  opacity: .8;
  -webkit-transition: opacity .1s;
  -moz-transition:opacity .1s;
  -o-transition:opacity .1s;
  transition:opacity .1s;
}

.copyright{
font-family: Signika-Regular;
font-size: 17px;
color: #FFFFFF;
line-height: 30px;
}

.pursue p{
/*font-family: HelveticaNeue-Light;*/
font-size: 18px;
color: #F6F6F6;
line-height: 27px;
margin:30px 0px;
width:80%;
height: 80px;
opacity: 0.8;
}

.tipsblock .subheading {
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  font-size: 10pt;
}

.tipsblock ol {
  padding:0px;margin: 0px;
  font-size: 10pt;
  line-height: 21px;
  margin-bottom: 20px;
}

.tipsblock ol ul {
  list-style-type: decimal;
}
.tipsblock ol ul li {
  margin-left:20px;
  margin-top:10px;
  font-size: 10pt;
}

.slide8{
  background:#4A4A4A;
  padding: 90px 0;
}

.slide8 h3{
  margin-top:120%;
  line-height: 39px;
}

.slide8 .dates{
  font-family: Helvetica;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 15px;
  opacity: .51; 
}

.day-str{
font-family: Verdana-Bold;
font-size: 10px;
color: #FFFFFF;
line-height: 12px;
text-transform: uppercase;
margin: 0px 0px 20px 40px;
}

ul.timeline{
  border-left: 4px solid rgba(255,255,255,.42);
  position:relative;
}

ul.timeline li{
  list-style:none;
  margin-left:20px;
  min-height:60px;
}

ul.timeline li .bulletin{
  width:16px;
  height:16px;
  background:#D8D8D8;
  border:5px solid #4A4A4A;
  border-radius:16px;
  position:absolute;
  left:-9px;
}

ul.timeline li .time-str{
  font-family: Helvetica;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
}

ul.timeline li .details{
font-family: Helvetica;
font-size: 10px;
color: #FFFFFF;
line-height: 15px;
text-transform: uppercase;
opacity: .51;
}

#navbar{
  -webkit-transition: all .2s;
}

.stick{
  position:fixed;
  top:0px;
  margin:0px auto;
  background:#2f2f2f;
  width:100%;
  z-index:200;
  padding: 10px 0;
  height:60px;
  -webkit-transition: all .2s;
}



/*FOR MOBILES*/
@media (max-width: 767px) {
    
    h1 {
      margin:0px;
      font-size:40pt;
      line-height: 60px
    }

    h2 {
      font-size: 14pt;
      line-height: 30px;
    }

    h3{
      font-size:30px;
      line-height:40px;
    }

    .slide1 .big-ass-text{
      margin-top:70px;
    }

    .slide1 p.venue {
      line-height: 30px;
      font-size:18pt;
      margin-bottom:100px;
    }

    a.enroll-today-white:first-child{
      font-size:20px;
    }

    .enroll-button1{
      top:0px;
    }

    a.enroll-today-white:last-child{
      font-size:20px;

    }

    .pursue p{
      height:auto;
    }
  

    .slide7 .footerlogo{
      padding-bottom:60px;
    }

    .social-links{
      text-align:center;
    }

    .copyright{
      text-align:center;
      margin-top:20px;
    }

    .logo{
      text-align:center;
    }

    .navigation{
      padding-top:30px;
    }

    .navigation li{
      display:block;
      width:100%;
      text-align:center;
    }

    .slide8 h3{
      margin-top: 0px;
    }

}